.lecturer-container{

min-height:100vh;

padding:40px;


background:

linear-gradient(
rgba(0,80,150,0.6),
rgba(0,0,0,0.5)
),

url("../assets/images/attendance-bg.jpg");


background-size:cover;

background-position:center;


}



.lecturer-container h2{

color:rgb(196, 220, 231);

font-weight:700;

}




.dashboard-card{


background:rgba(255,255,255,0.15);


backdrop-filter:blur(15px);


border-radius:25px;


padding:30px;


margin-top:25px;


box-shadow:

0 15px 35px rgba(0,0,0,0.25);


color:rgb(227, 235, 238);


}





.qr-section{


text-align:center;


}



.generate-btn,
.view-btn{


background:#1a55ad;


border:none;


padding:12px 30px;


border-radius:30px;


color:rgb(239, 245, 243);


font-weight:bold;


cursor:pointer;


}



.generate-btn:hover,
.view-btn:hover{


background:#004dcc;


}




.qr-box{


margin-top:25px;


background:white;


padding:20px;


display:inline-block;


border-radius:20px;


}



.qr-box img{


width:250px;


}




.attendance-table{


width:100%;


margin-top:20px;


background:white;


color:#333;


border-radius:15px;


overflow:hidden;


}



.attendance-table th{


background:#035277;


color:white;


padding:15px;


}



.attendance-table td{


padding:12px;


border-bottom:1px solid #ddd;


}



@media(max-width:768px){


.lecturer-container{

padding:20px;

}


}