.smart-navbar{

height:75px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 40px;


background:linear-gradient(
90deg,
#0066ff,
#00c6ff
);


color:white;

box-shadow:0 5px 20px rgba(0,0,0,0.2);

}



.brand{

display:flex;

align-items:center;

gap:12px;

font-size:28px;

font-weight:700;

}


.qr-logo{

font-size:35px;

}




.nav-user{

display:flex;

align-items:center;

gap:15px;

}



.user-icon{

font-size:38px;

}



.user-info h6{

margin:0;

font-size:15px;

}


.user-info small{

font-size:12px;

}



.logout-btn{

border:none;

background:white;

color:#0066ff;

padding:10px 25px;

border-radius:25px;

font-weight:bold;

cursor:pointer;

}


.logout-btn:hover{

background:#e6f0ff;

}



@media(max-width:600px){

.smart-navbar{

padding:0 15px;

}


.user-info{

display:none;

}


.brand span{

font-size:22px;

}

}