.scanner-container{


min-height:100vh;


display:flex;

justify-content:center;

align-items:center;


padding:30px;



background:


linear-gradient(
rgba(0,70,140,0.6),
rgba(0,0,0,0.5)
),


url("../assets/images/attendance-bg.jpg");



background-size:cover;

background-position:center;


}



.scanner-card{


width:500px;


padding:35px;


border-radius:25px;


background:rgba(255,255,255,0.15);


backdrop-filter:blur(15px);


box-shadow:
0 15px 40px rgba(0,0,0,0.3);


text-align:center;


color:white;


}



.scanner-card h1{


font-size:40px;


font-weight:800;


color:#00eaff;


}



.scanner-card p{


font-size:18px;


}




#reader{


background:white;


padding:15px;


border-radius:20px;


margin-top:25px;


}



/* QR camera button */

#reader button{


background:#255397 !important;


color:white;


border:none;


border-radius:20px;


padding:10px 20px;


}



#reader video{


border-radius:15px;


}



/* back button */


.back-btn{


margin-top:25px;


padding:12px 35px;


border:none;


border-radius:30px;


background:#c90707;


color:rgb(183, 206, 219);


font-weight:bold;


cursor:pointer;


}



.back-btn:hover{


background:#17649b;


}