.student-container{


min-height:calc(100vh - 75px);

padding:40px;


background:

linear-gradient(
rgba(0,80,150,0.5),
rgba(0,0,0,0.5)
),

url("../assets/images/attendance-bg.jpg");


background-size:cover;

background-position:center;


}



.student-container h2{


color:white;

font-weight:700;

margin-bottom:25px;


}



.student-profile{


background:rgba(255,255,255,0.18);

backdrop-filter:blur(15px);


padding:25px;

border-radius:25px;


color:white;


box-shadow:

0 15px 30px rgba(0,0,0,0.2);


}




.dashboard-cards{


display:grid;

grid-template-columns:repeat(
3,
1fr
);


gap:25px;

margin-top:30px;


}



.student-card{


background:rgba(255,255,255,0.18);


backdrop-filter:blur(15px);


padding:30px;


border-radius:25px;


color:white;


text-align:center;


box-shadow:

0 15px 35px rgba(0,0,0,0.25);


}



.student-card h1{


font-size:45px;


color:#00ffcc;


}




.scan-btn{


background:#00c853;


border:none;


color:white;


padding:12px 30px;


border-radius:30px;


font-weight:bold;


cursor:pointer;


}



.scan-btn:hover{


background:#00a844;


}





@media(max-width:900px){


.dashboard-cards{


grid-template-columns:1fr;


}


}